.imgCartProduct {
  width: 80px;
}

.nameCartProduct, .quantity {
  font-size: 14px;
}

.priceCartProduct {
  font-size: 17px;
}

.cardCartProduct {
  display: flex;
  justify-content: space-between;
}

.cart-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;
}
